.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #171717;
    margin-bottom: 1rem;
    margin-right: 5px;
    max-width:250px;
    
}

.button {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1.065rem 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}
.button:hover {
    background-color: rgba(0,0,0,0.85);
}

.responseMessage{
    color:red;
    margin:2rem 0;
}