.pokeCard{
    height: 60vh;
    width: 90vw;
    color:black;
    background-color:silver;
    padding: 20px;
    margin: 0 auto;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    border-radius:15px;
}

.pokeText{
    height: 100%;
    max-width: 20%;
}

.dexEntry{
    /* margin: 5rem 2rem; */
    white-space: pre-wrap;
    font-size:2rem;
}

.pokeCardTitle{
    padding: 1rem 2rem;
    font-size: 4rem;
    color: black;
    margin:0;
    /* -webkit-text-stroke: 1px white; */
}

.pokeSprites{
    min-width: 40%;
    margin: 0;
}

.pokeStats{
    width: 20%;
    text-align:left;
    flex-direction: column;
    float:right;
}

